<div class="row align-items-center" style="margin:100px">
    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
        <div class="kt-form__group kt-form__group--inline">
            <div class="kt-form__label">
                <label>Type:</label>
            </div>
            <div class="kt-form__control">
                <div class="dropdown bootstrap-select form-control"><select class="form-control bootstrap-select" id="kt_form_type" tabindex="-98" (change)="sortby($event)">
                    <option value="id">id</option>
                    <option value="name">name</option>
                  
                </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" data-id="kt_form_type" title="All"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">All</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
            </div>
        </div>
    </div>
</div>